<%- include ('../layouts/header.ejs') %>

<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
    <% } %>
    
    <% if (messages.success) { %>
    <p style="color:green"><%- messages.success %></p>
    <% } %>
<form action="/tasks/addNewTask" method="post" name="form1">
 <table>
  <tr>
   <td>TaskName</td>
   <td><input type="text" name="task_name" id="task_name" value="<%= task_name %>"></td>
  </tr>  
   <td>ExpiryDate</td>
   <td><input type="text" name="expiry" id="expiry" value="<%= expiry %>" placeholder="yyyy-mm-dd"></td>
  </tr>
  <tr>
    <td>completion_status</td>
    <td><input type="text" name="completion_status" id="completion_status" value="<%= completion_status %>"></td>
   </tr> 
   <tr>
    <td>created_by</td>
    <td><input type="text" name="created_by" id="created_by" value="<%= created_by %>"></td>
   </tr> 
   <tr>  
  <tr>
   <td></td>
   <td><input type="submit" name="Submit" value="AddTask"></td>
  </tr>
  
 </table>
</form>

<%- include ('../layouts/footer.ejs') %>